html {
  position: relative;
  background-image: linear-gradient(to bottom right, #E9C46A 50%, #E76F51 50%);
  min-height:100%;
}
body {
  position: absolute;
top:0;
left:0;
bottom: 0;
  background-image: linear-gradient(to bottom right, #E76F51 50%, #E9C46A 50%);
  height: 100%;
  width:100%;
 overflow: hidden;
}

body,span, header, body, nav, footer, main{
  font-family: 'Patrick Hand', cursive;
      font-size: 14px;
      color:  #264653;
   
  }

.footer{
    position: absolute;
    width:100%;
    left:0;
    bottom:0;
 height:60px; 
 font-size: 1.2em;
 color:  #264653;
 overflow: hidden;
    
}
a {
  color:  #264653;
}
.navbar{
  max-height: 75px;
}
.navlink{
  color:  #264653;
}
a.nav-link.active {
  text-decoration: underline;
  font-weight: bold;
  color:  #264653;
}

a.nav-link {
  color:  #264653;
}
.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.text-small {
  font-size: 85%;
}


.navbar-collapse.show{
  background-color:#E9C46A;
}
.navbar-collapse.collapsing{
  background-color:#E9C46A;
}


.dropdown-menu{
  color:#264653;
  background-color: #E9C46A; 
  border:none; 
}
.dropdown-item{
  color:#264653;
  background-color: #E9C46A; 
  border:none; 
}
.about-cards{
  background-color: #F4A261;
  color:  #264653;
  width: auto;
  height:100%;
  min-height: fit-content;
}

.selfie-cards {

  width: auto;
  height:auto;
  margin-top: auto; 
  min-width: fit-content;
  
}
.video-column{
  width: 28%;
}
.selfie-column{
  width: 22%;
  min-width: fit-content;

}
.about-col{
  width: 50%;

}

.video-cards {
    width: auto;
  height:auto;
  margin-bottom: auto;
  min-width: fit-content;
  
}
.selfie{
  margin-top: 8px;
  margin-bottom: 8px;
  align-self: center;
  margin-left: auto;
  margin-right: auto;
  min-width: fit-content;
}

.video{
  width:95%;
  height:100%;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: auto;
  margin-right: auto;

}

.game-card{
  background-color: #F4A261;
  color:  #264653;
  width: auto;
  height:460px;
}
.pacman-card{
  background-color: #F4A261;
  color:  #264653;
  width: auto;
  height:460px;
}
.eyes-card{
  background-color: #F4A261;
  color:  #264653;
  width: auto;
  height:460px;
}
.bus-card{
  background-color: #F4A261;
  color:  #264653;
  width: auto;
  height:460px;
}
.education-card{
  background-color: #F4A261;
  color:  #264653;
 margin: auto;
 min-width: fit-content;
  height:460px;
  font-size: 1.5em;
} 
.experience-card{
  background-color: #F4A261;
  color:  #264653;
  width: auto;
  height:460px;
}
.tab-pane{
  display: block;
  position:relative;
  height: 100%;
  width:100%;
overflow-x: hidden;
  overflow-y: auto;
  scrollbar-color: #E76F51 #E9C46A;
}
.tab-content{
  position:relative;
  height: 75%;
  width:100%;


}
.pacman-page{
  max-height:440px;
}
.bus-page{
  max-height:440px;
}
.eyes-page{
  max-height:440px;
}
.code-pen-frames{
  background-color: #F4A261;
   color:  #264653;
   width: auto;
   height:460px;
 }
.landing-page-text{
  font-family: 'Patrick Hand', cursive;
font-size: 1.5em;
margin: auto;
}
.portfolio-text{
  font-family: 'Patrick Hand', cursive;
font-size: 1.5em;
margin: 1.5em;
}

.content {
 margin: 0 auto;
 position: relative;
}
#brand-image{
  width: 60px;
  height:60px;
  border-radius: 50%;
}


.list-group-item{
  background-color: transparent;
  font-size: 2em;
  padding-right: 1.5em;
  border: none;
}



.company{
text-align: left;
margin-left: 1em;
margin-top: 0;
margin-bottom: 0;
text-decoration: underline;
}
.plant{
  text-align: left;
  margin-left: 1.25em;
  margin-bottom: 0;
  margin-top: 0;
}
.head-line{
  text-align: left;
  margin-left: 1em;
  margin-bottom: 0;
  margin-top: 0;
  text-decoration: underline;
}
.bullet-list{
  text-align: left;
  margin-left: 1em;
  margin-top: 0;
  margin-bottom: 0;
}
.experience-text{
  text-align: left;
  margin-left: 1em;
  margin-top: 0;
  margin-bottom: 0;
}
.experience-role-text{
  text-align: left;
  margin-left: 1.75em;
  margin-top: 0;
  margin-bottom: 0;
}
.role{
  text-align: left;
  text-decoration: underline;
  margin-left: 1.25em;
  margin-top: 0;
  margin-bottom: 0;
}
.icon-links{
  color:  #264653;
  border: none;
}

.linkedin{
  width: 200%;
  height: 100%;

}
.email{
  width: 200%;
  height: 100%;

}
.github{
  width: 200%;
  height: 100%;


}
@media only screen and (max-width: 992px) {

  .game-card{
    height: fit-content;
  }
  
  .video-column{
    width: auto;
    min-width: fit-content;
  }
  .selfie-column{
    width: auto;
    min-width: fit-content;
  }
  .about-col{
    width: auto;
  
  }
.ed-col{
  width: auto;
  max-width: 100%;
  margin: 16px;
}

.education-card{
 width: 50%;
  min-width: fit-content;
  padding-left: 16px;
  margin: 16px;
} 

} 
