
body,span, header, body, nav, footer, main{
      font-family: 'Handlee', cursive;
      font-size: 14px;
      color:  #264653;
   
  }

  /*
  span, header, body, nav, footer, main{
    background-image: linear-gradient(to right, #6f8680, #56a894);
   /* background-color: lightseagreen;
    color:  slateblue;*/
/* 
  }
  */
  .footer{
    position: absolute;
    left: 0;
    bottom:0;
 width:100%;
 height:60px; 
 font-size: 1.2em;
 color:  #264653;
    
}
a {
  color:  #264653;
}
.navlink{
  color:  #264653;
}
a.nav-link.active {
  text-decoration: underline;
  font-weight: bold;
  color:  #264653;
}

a.nav-link {
  color:  #264653;
}
.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.text-small {
  font-size: 85%;
}

.dropdown-toggle {
  outline: 0;
}

.about-cards{
  background-color: #F4A261;
  color:  #264653;
  width: auto;
}
.pacman-cards{
  background-color: #F4A261;
  color:  #264653;
  width: auto;
  height:480px;
}
.eyes-cards{
  background-color: #F4A261;
  color:  #264653;
  width: auto;
  height:480px;
}
.bus-cards{
  background-color: #F4A261;
  color:  #264653;
  width: auto;
  height:480px;
}
.tab-pane{
  display: block;
  height: 100%;
  width:100%;
}
.tab-content{
  height: 80%;
  width:100%;

}
.pacman-page{
    min-width: 360px;
    max-height:480px;
}
.bus-page{
     min-width: 360px;
    max-height:480px;
}
.eyes-page{
     min-width: 360px;
    max-height:480px;
}
.code-pen-frames{
 min-width: 360px;
    max-height:480px;
}
.landing-page-text{
font-family: 'Handlee', cursive;
font-size: 1.75em;
flex-wrap: wrap;
}
.diagonal-box {
position: absolute;
top:0;
left:0;
bottom: 0;
 background-image: linear-gradient(to bottom right, #E76F51 50%, #E9C46A 50%);
}

.content {
 margin: 0 auto;
 position: relative;
}
#brand-image{
  width: 60px;
  height:60px;
  border-radius: 50%;
}


.list-group-item{
  background-color: transparent;
  font-size: 2em;
  border: none;
}

.selfie{
  width:360px;
  height:420px;
}
